* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  /*Font*/
  --font-family: "Spartan", sans-serif;
  /* Colors */
  --primary-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%); }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  font-family: var(--font-family); }

em {
  font-style: normal; }

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-grid {
  max-width: 1100px;
  max-height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "ba ba ba" "title white rev" "title white rev" "title white rev" "comment comment comment"; }

.container-title {
  grid-area: title; }
  .container-title h1 {
    display: block;
    font-size: 4rem;
    color: var(--primary-dark-magenta);
    font-weight: 700;
    padding-bottom: 1rem; }
  .container-title .title-paragraph {
    font-size: 1.3rem;
    color: var(--dark-grayish-magenta); }

.container-review {
  grid-area: rev; }

.container-comment {
  grid-area: comment;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .container-comment .block-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary-dark-magenta);
    border-radius: 7px;
    padding: 3rem;
    width: 350px; }
    .container-comment .block-comment .block-comment-profil {
      display: flex;
      align-items: center;
      width: 100%; }
      .container-comment .block-comment .block-comment-profil img {
        width: 50px;
        border-radius: 50px;
        margin-right: 15px; }
      .container-comment .block-comment .block-comment-profil .block-comment-profil-title p {
        color: var(--white);
        font-size: 1.3rem;
        font-weight: 700; }
      .container-comment .block-comment .block-comment-profil .block-comment-profil-title em {
        color: var(--primary-soft-pink);
        font-size: 1.2rem; }
    .container-comment .block-comment .comment-text {
      margin-top: 25px;
      color: var(--white);
      font-size: 1.3rem;
      line-height: 2rem; }

.block-comment:nth-child(2) {
  position: relative;
  top: 15px; }

.block-comment:nth-child(3) {
  position: relative;
  top: 30px; }
