* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  /*Font*/
  --font-family: "Spartan", sans-serif;
  /* Colors */
  --primary-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%); }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  font-family: var(--font-family); }

em {
  font-style: normal; }

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 375px) {
    .container {
      height: auto; } }

.container-grid {
  background: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -200px, 270px;
  padding: 10rem 2rem;
  border-bottom: 1px solid gray;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "title title rev" "comment comment comment"; }
  @media (max-width: 375px) {
    .container-grid {
      background: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
      padding: 5rem 2rem 10rem 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "title" "rev" "comment"; } }

.container-title {
  grid-area: title; }
  .container-title h1 {
    display: block;
    width: 390px;
    font-size: 4rem;
    color: var(--primary-dark-magenta);
    font-weight: 900;
    padding-bottom: 1rem; }
    @media (max-width: 375px) {
      .container-title h1 {
        width: 100%;
        text-align: center;
        font-size: 3.5rem; } }
  .container-title .title-paragraph {
    width: 420px;
    font-size: 1.3rem;
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    line-height: 2rem; }
    @media (max-width: 375px) {
      .container-title .title-paragraph {
        width: 100%;
        padding: 1rem 2rem;
        text-align: center; } }

/*review*/
.container-review {
  grid-area: rev;
  display: flex;
  flex-direction: column; }
  .container-review .container-content-review {
    display: flex;
    align-items: center;
    background: var(--light-grayish-magenta);
    height: 50px;
    border-radius: 5px;
    margin: 0.7rem 0; }
  .container-review .content-review-star {
    padding: 0 2rem; }
    .container-review .content-review-star img {
      padding: 0 0.2rem; }
  .container-review .content-review-text {
    font-weight: 700;
    color: var(--primary-dark-magenta);
    font-size: 1.2rem; }
    @media (max-width: 375px) {
      .container-review .content-review-text {
        font-size: 1rem; } }
  .container-review .container-content-review:first-child {
    position: relative;
    left: -60px; }
    @media (max-width: 375px) {
      .container-review .container-content-review:first-child {
        left: 0; } }
  .container-review .container-content-review:nth-child(2) {
    position: relative;
    left: -30px; }
    @media (max-width: 375px) {
      .container-review .container-content-review:nth-child(2) {
        left: 0; } }

/*comments*/
.container-comment {
  grid-area: comment;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px; }
  @media (max-width: 375px) {
    .container-comment {
      flex-direction: column;
      margin: 0; } }
  .container-comment .block-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary-dark-magenta);
    border-radius: 7px;
    padding: 3rem;
    width: 350px; }
    @media (max-width: 375px) {
      .container-comment .block-comment {
        width: 90%; } }
    .container-comment .block-comment .block-comment-profil {
      display: flex;
      align-items: center;
      width: 100%; }
      .container-comment .block-comment .block-comment-profil img {
        width: 50px;
        border-radius: 50px;
        margin-right: 15px; }
      .container-comment .block-comment .block-comment-profil .block-comment-profil-title p {
        color: var(--white);
        font-size: 1.3rem;
        font-weight: 700; }
      .container-comment .block-comment .block-comment-profil .block-comment-profil-title em {
        color: var(--primary-soft-pink);
        font-size: 1.2rem; }
    .container-comment .block-comment .comment-text {
      margin-top: 25px;
      color: var(--white);
      font-size: 1.3rem;
      line-height: 2rem; }

.block-comment:nth-child(2) {
  position: relative;
  top: 20px; }

.block-comment:nth-child(3) {
  position: relative;
  top: 40px; }
