@import "reset";
@import "variables";
@import "base";
@import "mediaQueries";

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include xs {
    height: auto;
  }
}

.container-grid {
  background: url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -200px, 270px;
  padding: 10rem 2rem;
  border-bottom: 1px solid gray;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "title title rev"
    "comment comment comment";

  @include xs {
    background: url(../images/bg-pattern-top-mobile.svg),
      url(../images/bg-pattern-bottom-mobile.svg);
    padding: 5rem 2rem 10rem 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "rev"
      "comment";
  }
}
.container-title {
  grid-area: title;
  h1 {
    display: block;
    width: 390px;
    font-size: 4rem;
    color: var(--primary-dark-magenta);
    font-weight: 900;
    padding-bottom: 1rem;

    @include xs {
      width: 100%;
      text-align: center;
      font-size: 3.5rem;
    }
  }

  .title-paragraph {
    width: 420px;
    font-size: 1.3rem;
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    line-height: 2rem;

    @include xs {
      width: 100%;
      padding: 1rem 2rem;
      text-align: center;
    }
  }
}
/*review*/
.container-review {
  grid-area: rev;
  display: flex;
  flex-direction: column;

  .container-content-review {
    display: flex;
    align-items: center;
    background: var(--light-grayish-magenta);
    height: 50px;
    border-radius: 5px;
    margin: 0.7rem 0;
  }

  .content-review-star {
    padding: 0 2rem;

    img {
      padding: 0 0.2rem;
    }
  }

  .content-review-text {
    font-weight: 700;
    color: var(--primary-dark-magenta);
    font-size: 1.2rem;

    @include xs {
      font-size: 1rem;
    }
  }

  .container-content-review:first-child {
    position: relative;
    left: -60px;

    @include xs {
      left: 0;
    }
  }

  .container-content-review:nth-child(2) {
    position: relative;
    left: -30px;

    @include xs {
      left: 0;
    }
  }
}

/*comments*/
.container-comment {
  grid-area: comment;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;

  @include xs {
    flex-direction: column;
    margin: 0;
  }

  .block-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary-dark-magenta);
    border-radius: 7px;
    padding: 3rem;
    width: 350px;

    @include xs {
      width: 90%;
    }

    .block-comment-profil {
      display: flex;
      align-items: center;
      width: 100%;

      img {
        width: 50px;
        border-radius: 50px;
        margin-right: 15px;
      }

      .block-comment-profil-title {
        p {
          color: var(--white);
          font-size: 1.3rem;
          font-weight: 700;
        }

        em {
          color: var(--primary-soft-pink);
          font-size: 1.2rem;
        }
      }
    }

    .comment-text {
      margin-top: 25px;
      color: var(--white);
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }
}

.block-comment:nth-child(2) {
  position: relative;
  top: 20px;
}

.block-comment:nth-child(3) {
  position: relative;
  top: 40px;
}
